<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solider REST API</title>
</head>
<body>
    <h2>Solider REST API</h2>
    <caption>Web services
      <table cellpadding="20">
        <tr>
          <th>http method</th>
          <th>url path</th>
          <th>service</th>
        </tr>
        <tr>
          <th>GET</th>
          <th>http://localhost:8080/soldiers</th>
          <th>all soldier</th>
        </tr>
        <tr>
          <th>GET</th>
          <th>http://localhost:8080/soldiers/{id}</th>
          <th>selected soldier</th>
        </tr>
        <tr>
          <th>POST</th>
          <th>http://localhost:8080/soldiers/</th>
          <th>recruit new soldier</th>
        </tr>
        <tr>
          <th>PATH</th>
          <th>http://localhost:8080/soldiers/{id}/{shotpeople}</th>
          <th>update soldier: numbers od path</th>
        </tr>
        <tr>
          <th>PUT</th>
          <th>http://localhost:8080/soldiers/{id}</th>
          <th>change properties of soldier</th>
        </tr>
        <tr>
          <th>DELETE</th>
          <th>http://localhost:8080/soldiers/{id}</th>
          <th>dismantle soldier</th>
        </tr>
      </table>
    </caption>
</body>
</html>
